@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #cccccc;
    overflow: hidden;
}

h1:focus {
    outline: none;
}

button {
    background-color: #333333;
    color: #653780;
    font-size: 20px;
}

.btn-primary {

}

.content {
    padding-top: 1.1rem;
}