@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserService

<p>Are you sure you want to delete your account?</p>
<p>All your personalised lists will be lost.</p>

<button class="btn btn-secondary w-100" @onclick="@DeleteAsync">Delete</button>
