@inject IMovieService MovieService
@inject IRatingService RatingService

<div class="container-fluid p-5">
    @if (movieList == null)
    {
        <p>Loading...</p>
    }
    else if (movieList.Movies.Any())
    {
        <div class="row g-5">
            <InfiniteScroll ObservableTargetId="observableTarget" ObservableTargetReached="(e) => FetchDataAsync()">
                @foreach (var movie in movieList.Movies)
                {
                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <MovieCard Movie="@movie" />
                    </div>
                }
                <div id="observableTarget"></div>
            </InfiniteScroll>
        </div>
    }
</div>
