@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="review-wrapper">
    <div class="ratings-wrapper">
        <RatingsView Rating="Review.Rating" />
        <AuthorizeView>
            <Authorized>
                @if (Review.CreatedBy.UserId == loggedInUserId)
                {
                    <span class="oi oi-trash delete-icon" @onclick="ShowDeleteModal"></span>
                }
            </Authorized>
        </AuthorizeView>
    </div>
    @if (Review.Text != null)
    {
        <p class="form-control">@Review.Text</p>
    }
    <p>@Review.CreatedBy.Username, @Review.CreatedDate</p>
</div>
