@inject NavigationManager NavigationManager

<img src="@Person.ImageUrl" alt="Image not found" @onclick="(() => ShowPersonDetails(Person.Id))" />
<h4>@Person.Name</h4>
<p>Known for: @Person.KnownFor</p>

@code {
    [Parameter]
    public SearchPersonViewModel Person { get; set; } = default!;

    private void ShowPersonDetails(long id)
    {
        NavigationManager.NavigateTo($"/people/{id}");
    }
}
