@using MovieManagement.ViewModels.Search;

@inject NavigationManager NavigationManager

<img src="@Movie.PosterUrl" alt="Image not found" @onclick="@(() => ShowMovieDetails(Movie.Id))" />
<h4>@Movie.Title</h4>
@if (Movie.ReleaseDate != null)
{
    <p>Release date: @Movie.ReleaseDate</p>
}

@code {
    [Parameter]
    public SearchMovieViewModel Movie { get; set; } = default!;

    private void ShowMovieDetails(long movieId)
    {
        NavigationManager.NavigateTo($"/movies/{movieId}");
    }
}
