.credit-row {
    overflow-x: scroll;
    flex-wrap: nowrap;
    white-space: nowrap;
    display: flex;
}

.credit-member img {
    height: 10rem;
    width: auto;
    border-radius: 50%;
}

.credit-member {
    width: auto;
    text-align: center;
    padding: 25px;
}

p {
    font-size: 20px;
}

a {
    color: #cccccc;
}

::-webkit-scrollbar {
    display: none;
}