@inject IMovieListService MovieListService


<div>
    @if (_lists == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var list in _lists)
        {
            <div class="input-check"  @onclick="() => AddRemoveMovieAsync(list.Id, !list.HasMovie)">
                <input type="checkbox" @bind="list.HasMovie"/>
                <label class="px-3">@list.Title</label>
            </div>
        }  
    }
</div>
