@inject IMovieListService MovieListService

<p>Are you sure you want to delete your list?</p>
<p>All your movies from this list will be lost.</p>
<button class="btn btn-secondary w-100" @onclick="@DeleteListAsync">Delete</button>
