@page "/"
@using MovieManagement.Models;

<PageTitle>Index</PageTitle>

<div id="main-page" class="container-fluid p-5">
	@if (movieList == null) {
		<p>Loading...</p>
	}
	else if (movieList.Movies.Any())
	{
		<InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => FetchMovies()">
				<div class="row g-5">
					@foreach (var movie in movieList.Movies)
					{
						<div class="col-xxl-3 col-xl-4 col-lg-6">
							<MovieCard Movie="@movie" />
						</div>
					}
				  <div class="col-xxl-3 col-xl-4 col-lg-6" id="observerTarget"></div>
				</div>
				<div>
					Showing @movieList.Movies.Count of @movieList.TotalResults
				</div>
		</InfiniteScroll>
	}
</div>