.page {
    background-color: #222222;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navheader{
    background-color: #653780;
    display: block;
}

.page-content{
    overflow-y: hidden;
}

.sidebar {
    background-color: #333333;
}

main {
    overflow: scroll;
    height: 100%;
}


@media (min-width: 641px) {
    .sidebar {
        width: 250px;
        height: 100%;
        float: left;
    }
}

@media (max-width: 641px) {
    .sidebar {
        display: block;
    }
}

::-webkit-scrollbar {
    display: none;
}
