.page {
    background-color: #222222;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-header {
    background-color: #653780;
    display: block;
}

.page-content {
    overflow-y: hidden;
    height: 100%;
}

.sidebar {
    background-color: #333333;
}

main {
    overflow-y: scroll;
    height: 100%;
}

@media (min-width: 641px) {
    .sidebar {
        width: 300px;
        height: 100%;
        float: left;
    }
}

@media (max-width: 641px) {
    .sidebar {
        display: block;
    }
    .page-content{
        display: flex;
        flex-direction: column;
    }
}

/*::-webkit-scrollbar {
    display: none;
}*/
