.page {
    position: relative;
    flex-direction: column;
    flex: 1;
}

.navheader{
    position: sticky;
    top: 0;
    z-index: 1;
}

main {
    display: flex;
}

.sidebar {
    background-color: rgb(5, 39, 103);
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
    
    main {
        margin-left:250px;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
    }
}
