@inherits LayoutComponentBase

<PageTitle>MovieManagement</PageTitle>

<div class="page">
    <header class="nav-header">
        <NavMenu/>
    </header>
    <div class="page-content">
        <div class="sidebar">
            <Sidebar/>
        </div>
        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</div>