<div class="mainheader">
    <div class="logo">
        <img src="Images/Movie logo.png" alt="Logo"/>
    </div>
    <div class="toggle-nav">
        <span class="oi oi-collapse-down" @onclick="ToggleNavMenu"></span>
    </div>
</div>

<div class="navbase @NavMenuCssClass">
    <div class="navitem">
        <a href="" @onclick="ToggleNavMenu">
            <span class="oi oi-home"></span> Home
        </a>
    </div>
</div>
