.navbase{
    display: flex;
    background-color: rgb(5, 39, 103);
}

.navitem{
    padding: 10px 0;
}

.navitem a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.navitem a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .collapse {
        display: block;
    }
}
