.mainheader {
    display: flex;
    justify-content: space-between;
}

.navbase{
    display: flex;
    justify-content: right;
}

.navitem{
    padding: 15px 20px;
    color: #cccccc;
}

a{
    text-decoration: none;
    color: #cccccc;
}

a:hover {
    color: white;
}

.logo {
    padding: 10px 15px;
}

img {
    height: 100%;
    width: auto;
    max-height: 30px;
}

.toggle-nav {
    padding: 15px 20px;
}

@media (min-width: 641px) {
    .toggle-nav {
        display: none;
    }
    .mainheader {
        float: left;
    }
}

@media (max-width: 641px) {
    .navbase {
        display: inline;
    }
    .hideMenu {
        display: none;
    }
}
