.main-header {
    display: flex;
    justify-content: space-between;
}

.nav-base {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    padding: 15px 20px;
}

.logo {
    padding: 10px 15px;
}

img {
    height: 100%;
    width: auto;
    max-height: 30px;
    cursor: pointer;
}

.toggle-nav {
    padding: 15px 20px;
}

@media (min-width: 641px) {
    .toggle-nav {
        display: none;
    }
    .main-header {
        float: left;
    }
}

@media (max-width: 641px) {
    .nav-base {
        display: inline;
    }
    .hide-menu {
        display: none;
    }
}
