@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="main-header">
    <div class="logo">
        <img src="Images/Movie logo.png" alt="Logo" @onclick="GoHome"/>
    </div>
    <div class="toggle-nav">
        <span class="oi oi-cog" @onclick="ToggleNavMenu"></span>
    </div>
</div>

<div class="nav-base @NavMenuCssClass">
    <div class="nav-item" @onclick="ToggleNavMenu">
        <a href="/statistics/movies/revenue">
            <span class="oi oi-dollar"></span> Revenue Statistics
        </a>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="nav-item" @onclick="ToggleNavMenu">
                <a href="/Account">
                    <span class="oi oi-person"></span> Account
                </a>
            </div>
            <div class="nav-item" @onclick="ToggleNavMenu">
                <a href="/" @onclick="LogoutAsync">
                    <span class="oi oi-account-logout"></span> Logout
                </a>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="nav-item" @onclick="ToggleNavMenu">
                <a href="/Login">
                    <span class="oi oi-account-login"></span> Login
                </a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
