@inject NavigationManager NavigationManager

<div class="sidebar-header">
    <span class="oi oi-list toggle-sidebar" @onclick="ToggleSidebar"></span>
</div>

<div class="@SidebarCssClass">
    <div class="sidebar-section">
        <h3>Search</h3>
        <EditForm Model="@searchModel" OnValidSubmit="SearchAsync">
            <DataAnnotationsValidator />
            <InputText class="w-100 form-control" @bind-Value="searchModel.SearchInput" placeholder="Search" />
            <button class="btn btn-primary mt-2 w-100">Search</button>
            <ValidationMessage For="@(() => searchModel.SearchInput)" />
        </EditForm>
    </div>
    
    <hr />

    <div class="sidebar-section">
        <h3>Movie lists</h3>
        <ul>
            <li>
                <a href="" @onclick="ToggleSidebar">
                    <span class="oi oi-arrow-right"></span> Upcoming
                </a>
            </li>
            <li>
                <a href="movies/popular" @onclick="ToggleSidebar">
                    <span class="oi oi-star"></span> Popular
                </a>
            </li>
            <li>
                <a href="movies/top-rated" @onclick="ToggleSidebar">
                    <span class="oi oi-clock"></span> Top rated
                </a>
            </li>
            <li>
                <a href="movies/in-theater" @onclick="ToggleSidebar">
                    <span class="oi oi-clock"></span> In theater
                </a>
            </li>
        </ul>
    </div>

    <AuthorizeView>
        <Authorized>
            <hr />

            <div class="sidebar-section custom-movies-container">
                <h3 class="custom-list">Your custom lists</h3>
                @if (customMovieLists == null)
                {
                    <p>Loading...</p>
                }
                else if (!customMovieLists.Any())
                {
                    <button class="btn btn-primary" @onclick="CreateNewMovieList">Create movie list</button>
                }
                else
                {
                    <ul>
                    @foreach (var list in customMovieLists)
                    {
                        <li>
                        <a href=@($"/movies/custom/{list.Id}")>
                            <span class="oi oi-list"></span> @list.Name
                        </a>
                        </li>
                    }
                    </ul>
                }
            </div>
        </Authorized>
    </AuthorizeView>
</div>
