
<div class="sidebar-header">
    <h3 class="title">
        Movie Lists
    </h3>
    <span class="oi oi-list toggle-sidebar" @onclick="ToggleSidebar"></span>
</div>
<div class="@SidebarCssClass">
    <ul>
        <li>
            <a href="" @onclick="ToggleSidebar">
                <span class="oi oi-arrow-right"></span> Upcoming
            </a>
        </li>
        <li>
            <a href="movies/popular" @onclick="ToggleSidebar">
                <span class="oi oi-star"></span> Popular
            </a>
        </li>
        <li>
            <a href="movies/top-rated" @onclick="ToggleSidebar">
                <span class="oi oi-clock"></span> Top rated
            </a>
        </li>
        <li>
          <a href="movies/in-theater" @onclick="ToggleSidebar">
            <span class="oi oi-clock"></span> In theater
          </a>
        </li>
    </ul>
    <h3 class="title">
        Your List
    </h3>
</div>
