a {
    text-decoration: none;
    color: #cccccc;
}

a:hover {
    color: white;
}

li {
    list-style-type: none;
}

.title {
    padding-left: 10px;
    padding-top: 10px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
}

.toggle-sidebar {
    padding-right: 10px;
    padding-top: 10px;}

@media (min-width: 641px) {
    .toggle-sidebar {
        display: none;
    }
}
@media (max-width: 641px) {
    .hide-sidebar {
        display: none;
    }
}
