* {
    margin: 0;
    padding: 0;
}

li {
    margin: 0 0 .8rem .8rem;
}

.oi {
    margin-right: .3rem;
}

h3 {
    margin-bottom: .5rem;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sidebar-section {
    margin: 1rem;
}

.custom-movies-container {
    overflow-y: scroll;
    word-break: break-all;
}

.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
}

@media (min-width: 992px) {
    .toggle-sidebar {
        display: none;
    }
}

@media (max-width: 992px) {
    .hide-sidebar {
        display: none;
    }
    
    .sidebar-container {
        height: 90%;
    }

    .sidebar-header {
        margin: 1rem;
    }
}
