li {
  margin-bottom: .8rem;
}

span {
  margin-right: .3rem;
}

.title {
  margin: 1rem;
}

.custom-list {
  margin-top: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
}

.toggle-sidebar {
  margin: 1rem;
}

.custom-movies-container {
  display: flex;
  flex-direction: column;
}

.custom-movies-container > button {
  width: fit-content;
  place-self: center;
}

@media (min-width: 641px) {
  .toggle-sidebar {
    display: none;
  }

  .sidebar-header {
    flex-direction: column;
  }
}

@media (max-width: 641px) {
  .hide-sidebar {
    display: none;
  }
}
