@page "/statistics/movies/rating"
@inject ICombinedRatingService CombinedRatingService

<h2 class="text-center py-3">Movies with most ratings</h2>

<div class="container-fluid p-5">
    <label>Select a year: </label>
    <select class="input custom-select mb-5" @onchange="OnYearChanged">
        <option value="0">No Year Selected</option>
        @for (var i = DateTime.Now.Year; i >= 1888; i--)
        {
            <option value=@i>@i</option>
        }
    </select>
    @if (_list == null)
    {
        <p>Loading...</p>
    }
    else if (_list.Movies.Any())
    {
        <div class="row g-5">
            <InfiniteScroll ObservableTargetId="observableTarget" ObservableTargetReached="(e) => FetchDataAsync()">
                @foreach (var movie in _list.Movies)
                {
                    <div class="col-xxl-3 col-xl-4 col-lg-6">
                        <MovieCard Movie="@movie"/>
                    </div>
                }
                <div id="observableTarget"></div>
            </InfiniteScroll>
        </div>
    }
</div>
