label {
    font-size: 20px;
    padding: 0 1rem 0 3rem ;
}

select {
    width: 10rem;
    transform: scale(1.2);
    margin-left: 0.5rem;
}

#observableTarget {
    position: relative;
    top: -750px;
    width: 100%;
}